@charset "utf-8";
@media screen and (min-width: 992px){

    html,body{
        font-size: 1em;
    }

    nav{
        margin: auto;
        justify-content: space-around;
    }
  
    nav, main{
        width: 992px;
    }

    #details > ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

}