@charset "utf-8";
@media screen and (min-width: 992px){

    html,body{
        font-size: 1.2em;
    }

    nav{
        margin: auto;
        justify-content: space-around;
    }
  
    nav, main{
        width: 992px;
    }

    #details > ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

}

@media screen and (max-width: 480px) {
    #recipe-list {
        padding: 15px;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}