@charset "utf-8";
@media screen and (min-width: 810px){

    html,body{
        font-size: 0.9em;
    }

    nav{
        margin: auto;
        justify-content: space-around;
    }
  
    nav, main{
        width: 800px;
    }

    #details > ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }



}