@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --backg-color: white;
    --section-color: #f1f0e8;
    --main-color:#F23005;
    --secondary-color: #F25C05;
    --highlight-color:#0F0C59;
    --strong-color: #0c0e2b;
    
    --font-titles: "Poppins", sans-serif;
    --font-main: "Roboto", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: var(--backg-color);
    font-family: var(--font-main);
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1 > a:hover  {
    text-decoration: none;
}

header{
    width: 100%;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    font-family: var(--font-titles);
}

nav{
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav > a{
    margin: 0px 4px;
}

h1 > a{
    font-size: 0.8em;
    font-weight: bolder;
    color: var(--main-color);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h1{
    flex: 0 0 100px;
    text-align: center;
    line-height: 0.9em;
}

main{
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
}

li{
    margin: 10px 0px;
}


ul{
    list-style: none inside;
}

ol{
    list-style: decimal inside;
}

main ul > li::before{
    content: "🔸";
    padding-right: 4px;
}

section{
    padding: 10px;
    background-color: var(--section-color);
    border-radius: 15px;
}

ol li::marker {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--highlight-color);
}

h2{
    font-size: 1.4em;
    color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

h3,h4{
    font-size: 1.2em;
    color: var(--secondary-color);
    margin: 5px 0px;
}

h4,h5{
    padding: 5px 0px;;
    margin: 10px 0px;   
    font-size: 1.2em;
    color: var(--strong-color);
    border-top: 3px solid var(--highlight-color);
    border-bottom: 3px solid var(--highlight-color);
}

footer{
    background-color: var(--strong-color);
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
}

footer a{
    color: white;
}


