@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --backg-color: white;
    --section-color: #f1e5bd;
    --main-color:#F23005;
    --secondary-color: #F25C05;
    --highlight-color:#0F0C59;
    --strong-color: #0c0e2b;
}

/* Pallete 1
:root{
    --backg-color: white;
    --section-color: #f1e5bd;
    --main-color:#F23005;
    --secondary-color: #F25C05;
    --highlight-color:#0F0C59;
    --strong-color: #0c0e2b;
}
*/

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--backg-color);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 0.9em;
    width: 100%;
}

header{
    padding: 10px 0px;
    margin-bottom: 1px;
    border-bottom: 1px solid var(--main-color);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.204);   
    font-family: "Kaushan Script", cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;

}

nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
nav a{
    font-size: 2.5em;
}

nav a:hover{
    text-decoration: underline;
}

main{
    max-width: 800px;
    min-width: 280px;
    padding: 10px 5px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
}


section{
    margin: 4px;
    padding: 30px 30px;
    background-color: var(--section-color);
    flex-grow: 1;
    border-radius: 10px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.204);
}

aside{  
    padding: 30px 30px;
    margin: 10px 0px;
    border: 3px solid var(--highlight-color);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.204);
}

footer{
    background-color: var(--strong-color);
    padding: 10px 10px;
    margin: auto;
}

footer > p{
    color: white;
    text-align: center;
}

ul,ol {
    list-style-position: inside;
}

main ul > li{
    list-style: none;
}

main ul > li::before{
    content: "🔸";
    padding-right: 4px;
}

ol li::marker {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--highlight-color);
}

li{
    margin: 10px 0px;
}

#directions  li{
    margin: 20px 0px;
}
    
a{
    text-decoration: none;
    font-size: 1.1em;
    font-size: bold;
    color: var(--highlight-color);
}

main a:hover{
    text-decoration: underline;
}

h1{
    font-size: 5.0em;
    color: var(--main-color);
    margin: 10px 5px;   
    text-align: center;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 3.0em;
    color: var(--main-color);
    text-align: center;
    margin: 10px 5px 10px 5px;
    font-weight: bold;
}

h3{
    
    margin: 0px 5px 10px 5px; 
    font-size: 2.0em;
    font-weight: bold;
    color: var(--strong-color);
}

h4,h5{
    padding: 5px 0px;;
    margin: 10px 0px;   
    font-size: 1.1em;
    color: var(--strong-color);
    border-top: 3px solid var(--highlight-color);
    border-bottom: 3px solid var(--highlight-color);
}

#top-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

#goals p{
    font-size: 1.2em;
    padding: 3px 0px;
}
